@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilos generales */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "noto sans";
}

body {
    width: 100%;
}

main {
    width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.linea-1 {
    width: 40px;
    height: 1.5px;
    background-color: rgb(113, 121, 124);
}

.linea-2 {
    width: 40px;
    height: 1.5px;
    background-color: rgb(255, 255, 255);
}

/* Estilos header */
header {
    width: 100%;
    min-height: 90vh;
    background-image: url('../assets/images/Fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
}

/* Estilos cabecera del header */
.content-cabecera {
    align-items: center;
    padding: 0% 19%;
    min-height: 16vh;
    background-color: rgba(66, 77, 84, 0.922);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.content-cabecera h1 {
    font-size: 1.45rem;
    color: rgb(255,255, 255);
}

.azul {
    color: rgb(75, 206, 255);
}

nav {
    width: 50%;
}

.menu-cabecera {
    display: flex;
    justify-content: end;
    width: 100%;
    gap: 8%;
}

.link-menu a {
    color: rgb(255,255, 255);
    font-size: 12px;
    font-weight: 600;
}

.link-menu a:hover {
    border: 2px solid rgb(75, 206, 255);
    color: rgb(75, 206, 255);
    padding: 8px 15px;
}

/* Estilos secci贸n 1 */
.seccion-1 {
    min-height: 72vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.seccion-1 h2 {
    font-size: 2rem;
    font-weight: 300;
    color: rgb(255,255, 255);
    background-color: rgba(66, 77, 84, 0.922);
    padding: 5px 20px;
}

/* Estilos secci贸n 2 */
.seccion-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1;
    gap: 3%;
    padding: 4% 19%;
    padding-top: 8%;
    background-color: rgb(75, 202, 255);
}

.sec2-art {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    width: 100%;
}

.sec2-art h3 {
    color: rgb(255,255, 255);
    font-size: 1.2rem;
    font-weight: 400;
}

.sec2-art p {
    font-size: 9px;
    color: rgb(255,255, 255);
    line-height: 1.8;
}

.sec2-art img {
    height: 38px;
}

/* Estilos secci贸n 3 */
.seccion-3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 90vh;
    padding: 3.5% 19%;
    gap: 60px;
}

.sec3-cont-tit {
    display: flex;
    justify-content: space-between;
}

.sec3-tit {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.sec3-tit h2 {
    color: rgb(137, 144, 148);
    font-weight: 300;
    font-size: 1.5rem;
}

.sec3-menu {
    display: flex;
    width: 50%;
    justify-content: end;
    align-items: center;
    gap: 45px;
}

.link-menu-2 a {
    color: rgb(113, 121, 124);
    font-size: 11px;
    font-weight: 650;
}

.link-menu-2 a:hover {
    border: 2px solid rgb(75, 206, 255);
    color: rgb(75, 206, 255);
    padding: 8px 15px;
}

.sec3-img {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 22px;
}

.sec3-img img {
    width: 100%;
    opacity: 0.8;
}

/* Estilos secci贸n 4 */
.seccion-4 {
    width: 100%;
    min-height: 50vh;
    display: flex;
    background-color: rgb(81, 95, 103);
    padding: 4% 19%;
    gap: 12.7%;
}

.sec4-cont-text {
    width: 50%;
}

.sec4-tit {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-bottom: 25px;
}

.sec4-tit h2 {
    color: rgb(229, 233, 235);
    font-size: 1.45rem;
    font-weight: 300;
}

.sec4-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 6px;
}

.sec4-text p {
    color: rgb(229, 233, 235);
    font-size: 10.5px;
    font-weight: 400;
    line-height: 2;
}

.seccion-4 img {
    width: 50%;
}

.boton-1 {
    color: #2c3439;
    font-size: 11px;
    font-weight: 500;
    padding: 10px 30px;
    border: 2px solid #2c3439;
    background: none;
}